body{
	background-color: #4925B7;
	color: #0D083B;
}
.addBtn{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.3em;
	border-radius: 0px;
	width: 6em;
}
.tblBtn{
	width: 100%;
	height: 6em;
	padding-top: 2.5em;
	padding: 1em;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
	border-radius: 0px;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: left;
	background-size: contain;
	text-align: right;
}

.backBtn{
	float: right;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
	border-radius: 0px;
}

.logoutBtn{
	float: right;
	margin-top: 0px;
	font-size: 12px;
	margin-right: 10px;
	margin-bottom: 3px;
	border-radius: 0px;
}

.loginBtn{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
	border-radius: 0px;
	width: 6em;
}

.logo{
	padding: 1.5em;
	margin-top: 30px;
}

.loginForm input, select{
	height: 2em;
	width: 12em;
	font-size: 20px;
	margin-bottom: 0.5em;
}

.navbar{
	background-color: #1F1959;
	color: #fff;
	padding: 3px;
	padding-top: 10px;
}

.navbar p{
	float: left;
	margin-left: 10px;
}

strong{
	color: #990;
}

.btn-primary{
	background-color: #B69804;
	border: 0px;
}

.btn-success{
	background-color: #B65004;
	border: 0px;
}

.btn-danger{
	background-color: #2C117D;
	border: 0px;
}

.btn-primary:hover{
	color: #554200;
	background-color: #fff;
}

.btn-success:hover{
	color: #554200;
	background-color: #fff;
}

.btn-danger:hover{
	color: #554200;
	background-color: #fff;
}

.salePanel{
	background-color: #5734C0;
	padding: 2em;
	padding-bottom: 1em;
}
.adminPanel{
	background-color: #321391;
	padding: 2em;
	padding-bottom: 1em;
}

.saleBtn{
	background-image: url('./img/sales.png');
}

.purchBtn{
	background-image: url('./img/purchases.png');
}

.prodBtn{
	background-image: url('./img/products.png');
}

.catBtn{
	background-image: url('./img/categories.png');
}

.suppBtn{
	background-image: url('./img/suppliers.png');
}
@media screen and (max-width:640px){
	body{
		font-size: 150%;
	}

	.tblBtn{
		width: 100%;
		height: 3.5em;
		padding-top: 1em;
	}

	.logo{
		float: left;
	}

	.backBtn{
		float: none;
		margin-left: 40%;
		text-align: center;
		font-size: 1em;
	}
	.addBtn{
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 0.3em;
		border-radius: 0px;
		width: 3.7em;
	}
}
