{% if session['name'] %}
{% extends "layout.html" %}
{% block body %}
<div class = "row salePanel">
	<div class = "col-xs-12 col-md-12">
		<a class="btn btn-primary tblBtn saleBtn" href="/sales" role="button">SALES</a>
	</div>

</div>

<div class = "row adminPanel">
	<div class = "col-xs-12 col-md-6">
		<a class="btn btn-success tblBtn prodBtn" href="/products" role="button">PRODUCTS</a>
	</div>
	<div class = "col-xs-12 col-md-6">
		<a class="btn btn-success tblBtn catBtn" href="/categories" role="button">CATEGORIES</a>
	</div>
	<div class = "col-xs-12 col-md-6">
		<a class="btn btn-success tblBtn purchBtn" href="/purchases" role="button">PURCHASES</a>
	</div>
	<div class = "col-xs-12 col-md-6">
		<a class="btn btn-success tblBtn suppBtn" href="/suppliers" role="button">SUPPLIERS</a>
	</div>
</div>
{% endblock %}
{% endif %}
