{% if session['name'] %}
{% extends "layout.html" %}
{% block body %}
<div class = "row">
	<div class = "col-xs-12 col-md-4">
		<a class="btn btn-primary tblBtn" href="/products" role="button">Products</a>
	</div>
	<div class = "col-xs-12 col-md-4">
		<a class="btn btn-success tblBtn" href="/categories" role="button">Categories</a>
	</div>
	<div class = "col-xs-12 col-md-4">
		<a class="btn btn-danger tblBtn" href="/suppliers" role="button">Suppliers</a>
	</div>
</div>	

<div class = "row">
	<div class = "col-xs-12 col-md-6">
		<a class="btn btn-primary tblBtn" href="/sales" role="button">Sales</a>
	</div>
	<div class = "col-xs-12 col-md-6">
		<a class="btn btn-success tblBtn" href="/purchases" role="button">Purchases</a>
	</div>
</div>	

{% endblock %}
{% endif %}